<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "Tic Tac Toe", root_path,class:"navbar-brand"  %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home",root_path, class:"nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Play a Game",games_path, class:"nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Two players!", playervs_path, class:"nav-link" %>
      </li>
    </ul>
    <ul class="navbar-nav ">
      <% if current_user %>
      <li class="nav-item">
        <a class="nav-link text-warning" href="#" id="navbarDropdownMenuLink"  aria-haspopup="true" aria-expanded="false">
          <%= current_user.username %>
        </a>
      </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Create Account",new_user_registration_path,class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Login",new_user_session_path,class:"nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>